@import '@fontsource/roboto';
@import '@fontsource/roboto/100.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/900.css';

@import '@fontsource-variable/outfit';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /*background-image: linear-gradient(to top left, #4a044e 10%, #2e1065 30%, #064e3b 90%);*/
  /*background-image: linear-gradient(to bottom right, #e6efff 20%, #e9f7ff 40%, #ffffff 90%);*/
  background-color: white;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --gradient-first: 187 92% 69%;
    --gradient-second: 207 92% 48%;
    --gradient-third: 225 89% 47%;
    --background: 222.2 84% 4.9%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 207 92% 48%;
    --primary-foreground: 210 40% 98%;

    --primary-dark: 225 89% 47%;

    --primary-light: 202 93% 49%;

    --off-black: #1e1e1e;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

}
