@import '@fontsource-variable/outfit';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /*background-image: linear-gradient(to top left, #4a044e 10%, #2e1065 30%, #064e3b 90%);*/
  /*background-image: linear-gradient(to bottom right, #e6efff 20%, #e9f7ff 40%, #ffffff 90%);*/
  background-color: #F4F4F4; /*#FAFBFC*/
}

html,
body {

}

h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: var(--foreground);
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--foreground);
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: var(--foreground);
}

select {
    @apply block;
    @apply w-full;
    @apply px-2;
    @apply py-2;
    @apply text-base;
    @apply text-gray-700;
    @apply bg-white;
    @apply border;
    @apply border-input;
    @apply rounded-md;
    @apply shadow-sm;
    @apply focus:outline-none;
    @apply sm:text-sm;
    @apply sm:leading-5;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;

}


@layer base {
  :root {
    --gradient-first: 187 92% 69%;
    --gradient-second: 207 92% 48%;
    --gradient-third: 225 89% 47%;
    --foreground: 222.2 84% 4.9%;
    --background: 0 0% 100%;

      --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 207 92% 48%;
    --primary-foreground: 210 40% 98%;

    --primary-dark: 225 89% 47%;

    --primary-darker: 212 100% 17%;

    --primary-darkest: 219 100% 10%;

    --primary-light: 202 93% 49%;

    --off-black: #1e1e1e;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;


    /*React Toastify*/

    --toastify-color-success: #2ecc71;
    --toastify-color-error: #e74c3c;
    --toastify-color-info: #3498db;

    --toastify-font-family: 'Roboto', sans-serif;
    
  }

}

.maintenance::after {
  @apply block;
  @apply w-1;
  @apply h-1;
  @apply bg-orange-500;
  @apply m-1;
  @apply mx-auto;
  @apply rounded-full;
  content: "";
}

.lease::after {
  @apply block;
  @apply w-1;
  @apply h-1;
  @apply bg-indigo-600;
  @apply m-1;
  @apply mx-auto;
  @apply rounded-full;
  content: "";
}

.rent::after {
  @apply block;
  @apply w-1;
  @apply h-1;
  @apply bg-emerald-500;
  @apply m-1;
  @apply mx-auto;
  @apply rounded-full;
  content: "";
}

.other::after {
  @apply block;
  @apply w-1;
  @apply h-1;
  @apply bg-gray-500;
  @apply m-1;
  @apply mx-auto;
  @apply rounded-full;
  content: "";
}


